/* SERVICE 01 */

.service-item-01 {
    display: flex;
    height: 75vh;
    padding: 30px 30px 50px 30px;
    border-bottom: 8px solid #222;
}

.info-text-01 {
    width: 50%;
    position: relative;
}

.text-01 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 20px
}

.text-01 h2 {
    font-size: 3rem;
    margin-bottom: 25px
}

.text-01 p {
    max-width: 500px;
    font-size: 1.7rem;
}

.info-card-01 {
    width: 50%;
    position: relative;
}

.card-img-01 {
    width: 500px;
    position: absolute;
    left: 30px;
    z-index: 1;
}

.card-video-01 {
    width: 362px;
    position: absolute;
    top: 78px;
    left: 96px;
    z-index: 0
}

@media screen and (max-width: 1264px) {
    .card-img-01 {
        width: 100%;
        height: 100%;
    }
    
    .card-video-01 {
        width: 80%;
    }
}

@media screen and (max-width: 950px) {
    .service-item-01 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 80px 10px 0px 10px;
    }

    .info-text-01 {
        width: 100%;
        text-align: center;
    }

    .service-item-01 {
        height: 110vh
    }

    .text-01 {
        width: 100%;
        height: 100%;
        right: 0;
        z-index: 2
    }
    
    .text-01 h2 {
        font-size: 2.5rem;
        margin-bottom: 15px;
        margin-top: 80px;
    }
    
    .text-01 p {
        max-width: 800px;
        font-size: 1.3rem;
        margin: 0 auto;
    }

    .info-card-01 {
        width: 100%;
        height: 100%;
        margin-top: 50px
    }
    
    .card-img-01 {
        width: 90%;
        max-width: 600px;
        height: 80%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .card-video-01 {
        width: 100%;
        max-width: 440px;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 550px) {
    .service-item-01 {
        height: 90vh;
        padding: 60px 25px 0px 25px;
    }
    
    .text-01 h2 {
        font-size: 1.7rem;
    }
    
    .text-01 p {
        max-width: 450px;
        font-size: 1.1rem;
    }
    
    .card-img-01 {
        margin-top: 20px;
        width: 100%;
        height: 75%;
        top: 0;
    }
    
    .card-video-01 {
        width: 75%;
        top: 70px
    }
}