.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

.logo {
    width: 180px;
    height: 100px;
}

.menu-container {
    display: flex;
    align-items: center;
}

.lang-btn {
    margin-right: 32px;
    border: 1px solid #aaa;
    border-radius: 2px;
    display: inline-block;
    position: relative
}

.lang-btn select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    padding: 10px 24px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
}

.lang-btn select option {
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    font-weight: bold;
}

.lang-icon {
    color: #fff;
    font-size: 19px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
}

.arrow-icon {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    pointer-events: none;
}

.enter-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e50914;
    border-radius: 2px;
    border: none;
    cursor: pointer
}

.main-content {
    margin: 120px auto 0 auto;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center
}

.title {
   font-size: 3.1rem;
   font-weight: bold;
}

.subtitle {
    font-size: 1.6rem;
    margin-top: 24px;
}

span {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 24px;
}

form {
    display: flex;
    margin-top: 19px;
}

.input-email {
    width: 480px;
    padding: 19px 12px;
    font-size: 1.1rem;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border: 1px solid #aaa;
    outline: none
}

.input-email:focus {
    border: 1px solid blue
}

.join-btn {
    padding: 15px 19px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #e50914;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative
}

.join-btn svg {
    font-size: 30px;
}

.join-btn:hover {
    background-color: linear-gradient(to bottom,#e50914,#db0510);
}

@media screen and (max-width: 950px) {
    .logo {
        width: 150px;
        height: 80px
    }

    .lang-btn {
        margin-right: 28px
    }

    .main-content {
        margin-top: 100px
    }

    span {
        max-width: 400px;
        font-size: 1.4rem
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    .input-email {
        border-radius: 2px;
    }

    .join-btn {
        padding: 6px 10px;
        font-size: 1.1rem;
        font-weight: normal;
        margin-top: 10px;
        border-radius: 2px;
    }
}

@media screen and (max-width: 750px) {
    .title {
        font-size: 2.7rem;
    }

    span {
        font-size: 1.2rem
    }

    .input-email {
        padding: 14px 8px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 2.4rem
    }

    .subtitle {
        font-size: 1.3rem;
        font-weight: normal
    }

    form {
        width: 90%;
    }

    .input-email {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .header {
        padding: 0 2%;
    }

    .logo {
        width: 120px;
        /* height: 60px */
    }

    .lang-btn {
        margin-right: 14px;
        display: inline-block;
    }

    .lang-btn select {
        padding: 6px 24px;
        font-size: 14px;
        font-weight: normal;
    }
    
    .lang-icon {
        font-size: 16px;
    }
    
    .arrow-icon {
        font-size: 24px;
    }
    
    .enter-btn {
        padding: 7px 10px;
        font-size: 14px;
    }

    .main-content {
        margin-top: 60px
    }

    .title {
        font-size: 1.9rem
    }

    .subtitle {
        font-size: 1.1rem;
    }

    span {
        width: 320px;
        font-size: 1.05rem;
        font-weight: bold
    }

    .join-btn {
        padding: 6px 10px;
        font-size: 1rem;
    }

    .join-btn svg {
        font-size: 22px;
    }
}