* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #f3f3f3;
}

.container-main {
  width: 100%;
  height: 100vh;
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/ed0b5df9-ba9d-4534-bd09-57993daeda56/52609230-dd78-4dba-82a1-8bb3ac3803e6/BR-pt-20220214-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-position: center auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
  backdrop-filter: brightness(50%);
}

@media screen and (max-width: 950px) {
  .container-main {
    height: 135vh
  }
}

@media screen and (max-width: 750px) {
  .container-main {
    height: 120vh
  }
}

@media screen and (max-width: 550px) {
  .container-main {
    height: 90vh;
    background-position: center;
  }

  .layer {
    /* background: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%); */
    backdrop-filter: brightness(75%);
  }
}

